<h1>GET / 列出全部 Todo</h1>

<form action="/new" method="get">
  <button type="submit" class="btn btn-danger">Add</button>
</form>

{{!-- 預設把id設成123456當作測試 --}}
<form action="/123456" method="get" class="mt-2">
  <button type="submit" class="btn btn-primary">ID</button>
</form>