<div class="row col-5 m-auto mt-4">
  <form action="/users/login" method="POST">
    <h1 class="text-center">Login</h1>
    {{> message}}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
        placeholder="123@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/auth/facebook" class="btn btn-info">Facebook Login</a>
  </form>
  <p class="lead mt-4">
    No Account?
    <a href="/users/register">Register</a>
  </p>
</div>