container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.profilewrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  margin-top: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  align-items: center;
  margin: 5px;
  padding: 2px;
}